body{
	padding: 0;
	margin: 0 auto;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}

/*primera sección*/

.bienvenida{
	background: #34495e;
	color: white
}

.titulo-principal{
	font-size: 60px;
	font-weight: lighter;

}

.pratt{
	font-weight: bold;
}



/*segunda sección*/

.second-section{
	padding: 30px;
}

.titulo-segunda-seccion{
	margin-bottom: 50px;
}

.titulo{
	text-align: justify;
}

.titulo-color{
	color: #d4e5e0;
	text-align: justify;
}

.parrafo-second{
	text-align: justify;
}

/*tercera sección*/

.third-section{
	background: #34495e;
	color: white;
	padding: 40px;
}



/*cuarta sección*/

.fourth-section{
	background: #2f2f2f;
	color: white;
	padding: 40px;
}


/*footer*/

footer{
	background:#222222;
	padding-bottom: 10px;
}

.footer{
	color: white;
}

.texto-footer{
	color:green;
}